body{
	font-family: Tahoma;
	font-size:12px;
	line-height: 22px;
}

nav{
	position: relative;
}
nav.navbar-default{
	border:none;
	background-color:#f2f3f3;
	border-radius: 0 !important;	
	min-height:inherit !important;
}
@media (min-width: 768px){

}

nav ul li a{
	padding-top:10px !important;
	padding-bottom: 10px !important;
}	

#brand-name{
	position: absolute;
	font-size:20px;
	left: 50%;
	top:10px;
	margin-left: -41px;

};


