<!-- Modal -->
<div class="modal fade" id="modal-create-group" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span
                        class="sr-only">Đóng</span>
                </button>

                <h4 class="modal-title" id="myModalLabel">Tạo kênh trò chuyện</h4>
            </div>
            <div class="modal-body">
                <form action="" class="form">
                    <div class="form-group">
                        <label>Tên kênh</label>
                        <input type="text" class="form-control" ng-model="newChanel.name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" ng-click="createNewChanel(newChanel)">Thêm</button>
            </div>
        </div>
    </div>
</div>