<div ng-show="conversionLoaded">

<div class="media message-item" ng-repeat="message in conversionDatas track by $index">
    <a class="pull-left" href="#">
        <img class="media-object img-circle" src="images/avt.jpg" alt="..." style="width:30px">
    </a>

    <div class="media-body">
        <p class="pull-left col-md-10" >{{message.message}}
        </p>
        <small class="pull-right col-md-2" am-time-ago="message.create_at"></small>
        <div class="clearfix"></div>
    </div>


</div>
<!-- End media item -->
</div>

<div ng-hide="conversionLoaded">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>