<div ng-show="conversionLoaded">

<div class="media message-item" ng-repeat="message in conversionDatas track by $index">
    <a class="pull-left media-object img-circle" href="#" style="padding-left:5px;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background: #FAFAFA;
    line-height: 30px;
    text-align: center;
    padding-right: 5px;
    font-weight: bold;
    border: 1px solid #f2f2f2;
    
    margin-right: 5px;
    " title="{{message.user.firstname + ' ' + message.user.lastname}}">
        {{message.user.lastname[0] | uppercase}}
    </a>

    <div class="media-body">

        <p class="pull-left col-md-10" >{{message.message}}
        </p>
        <small class="pull-right col-md-2" am-time-ago="message.create_at"></small>
        <div class="clearfix"></div>
    </div>


</div>
<!-- End media item -->
</div>

<div ng-hide="conversionLoaded">
    <div class="spinner">
        <div class="rect1"></div>
        <div class="rect2"></div>
        <div class="rect3"></div>
        <div class="rect4"></div>
        <div class="rect5"></div>
    </div>
</div>