<!--
    // Create a factory for a collection , define function and storage data
-->
<header>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="text-center" id='brand-name'>
                Buzz
            </div>
            <ul class="nav navbar-nav navbar-right">
                <!-- <li><a href="#">Link</a></li> -->
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="member-avatar" height="25" width="25"
                             src="https://trello-avatars.s3.amazonaws.com/bacf95e4cada7a4e2e77c4e35a3dfb30/30.png"
                             alt="Nguyễn Thịnh (thinhnv)" title="Nguyễn Thịnh (thinhnv)">
                        Thịnh Nguyễn <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Thông tin cá nhân</a></li>
                        <li><a href="#">Cài đặt</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Thoát</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
</header>


<section class="container-fluid" id="wrapper">
    <section class="row">
        <section class="col-md-3" id="listGroupBox">

            <section id="listGroupControl" class="row">
                <button class="btn btn-primary btn-create"><span class="glyphicon glyphicon-plus"></span>&nbsp;Tạo mới
                </button>
                <div id="search">
                    <form action="" class="form">
                        <input type="text" class="form-control searchBtn" placeholder="Tìm kiếm"
                               ng-model="searchConversionGroup"/>
                    </form>
                </div>
            </section>

            <section id="listGroup" class="media-list row">

                <div class="media " ng-repeat="group in conversionGroup | filter: searchConversionGroup"
                     ui-sref-active="active" ui-sref="buzz.home.conversion({conversionId: group.id})">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle" ng-src="{{group.last_conversion.user.avatar}}" alt="..."
                             style="width:40px">
                    </a>

                    <div class="media-body">
                        <h4 class="media-heading">{{group.name}}
                            <small>{{group.last_conversion.create_at}}</small>
                        </h4>
                        <p>{{group.last_conversion.message}}
                        </p>
                    </div>
                </div>
                <p ng-show="(conversionGroup | filter:searchConversionGroup).length == 0">Không có kết quả nào được tìm thấy !</p>
            </section>
        </section>

        <section class="col-md-6" id="messageBox">
            <section id="messageBoxControl" class="row">

                <h4>Nhóm dự án Ping Ping</h4>

                <div class="list-member">
                    <ul class="list-inline">
                        <li><a href="#"><img class="img-circle" src="images/avt.jpg" width="25px"></a></li>
                        <li><a href="#"><img class="img-circle" src="images/avt.jpg" width="25px"></a></li>
                        <li><a href="#"><img class="img-circle" src="images/avt.jpg" width="25px"></a></li>
                        <li><a href="#"><img class="img-circle" src="images/avt.jpg" width="25px"></a></li>
                    </ul>

                </div>
            </section>

            <article id="mainMessage">
                <div class="wrap">
                    <div ui-view="messageBox"></div>
                </div>

            </article>

            <section id="message-send">
                <textarea name="a" id="" cols="30" rows="10"></textarea>
            </section>

        </section>

        <section class="col-md-3" id="activityBox">
            <button class="btn btn-create btn-block">
                Lịch sử hoạt động
            </button>

            <div id="listActivity">
                <div class="media">
                    <p class="activity-date">
                        <small>3 tiếng trước</small>
                    </p>
                    <a class="pull-left" href="#">
                        <img class="media-object"
                             src="https://trello-avatars.s3.amazonaws.com/bacf95e4cada7a4e2e77c4e35a3dfb30/30.png"
                             alt="..."
                             width="30px" height="30px">
                    </a>

                    <div class="media-body">
                        <p><b class="author-name">Thinh Nguyen</b> đã đính kèm một tệp express.pdf </p>
                    </div>
                </div>

                <div class="media">
                    <p class="activity-date">
                        <small>3 tiếng trước</small>
                    </p>
                    <a class="pull-left" href="#">
                        <img class="media-object"
                             src="https://trello-avatars.s3.amazonaws.com/bacf95e4cada7a4e2e77c4e35a3dfb30/30.png"
                             alt="..."
                             width="30px" height="30px">
                    </a>

                    <div class="media-body">
                        <p><b class="author-name">Thinh Nguyen</b> đã đính kèm một tệp express.pdf </p>
                    </div>
                </div>


                <div class="media">
                    <p class="activity-date">
                        <small>3 tiếng trước</small>
                    </p>
                    <a class="pull-left" href="#">
                        <img class="media-object"
                             src="https://trello-avatars.s3.amazonaws.com/bacf95e4cada7a4e2e77c4e35a3dfb30/30.png"
                             alt="..."
                             width="30px" height="30px">
                    </a>

                    <div class="media-body">
                        <p><b class="author-name">Thinh Nguyen</b> đã đính kèm một tệp express.pdf </p>
                    </div>
                </div>


                <div class="media">
                    <p class="activity-date">
                        <small>3 tiếng trước</small>
                    </p>
                    <a class="pull-left" href="#">
                        <img class="media-object"
                             src="https://trello-avatars.s3.amazonaws.com/bacf95e4cada7a4e2e77c4e35a3dfb30/30.png"
                             alt="..."
                             width="30px" height="30px">
                    </a>

                    <div class="media-body">
                        <p><b class="author-name">Thinh Nguyen</b> đã đính kèm một tệp express.pdf </p>
                    </div>
                </div>


                <div class="media">
                    <p class="activity-date">
                        <small>3 tiếng trước</small>
                    </p>
                    <a class="pull-left" href="#">
                        <img class="media-object"
                             src="https://trello-avatars.s3.amazonaws.com/bacf95e4cada7a4e2e77c4e35a3dfb30/30.png"
                             alt="..."
                             width="30px" height="30px">
                    </a>

                    <div class="media-body">
                        <p><b class="author-name">Thinh Nguyen</b> đã đính kèm một tệp express.pdf </p>
                    </div>
                </div>


            </div>
        </section>
    </section>
</section>

<script type="text/javascript">
    $(document).ready(function () {

        var wrapper = $("#wrapper"),
                messsageBox = $("#mainMessage .wrap"),
                listGroup = $("#listGroup"),
                changeMessageBoxSize,
                changelistGroupSize;

        messsageBox.niceScroll({
            cursorcolor: "#cdcdcd",
            boxzoom: false
        });

        listGroup.niceScroll({
            cursorcolor: "#cdcdcd"
        });

        changeMessageBoxSize = function () {
            messsageBox.height(wrapper.height() - 200);
        };

        changelistGroupSize = function () {
            listGroup.height(wrapper.height() - 90);
        };


        $(window).resize(function () {
            changelistGroupSize();
            changeMessageBoxSize();
        });

        changelistGroupSize();
        changeMessageBoxSize();
    })
</script>