<h4>
    <span class="pull-left">Danh sách dự án
        <button class="btn btn-primary" data-toggle="modal" data-target="#modal-create-project" ng-if="currentUser.role == 'admin'">Tạo dự án</button>
    </span>


    <div class="clearfix"></div>
</h4>

<div class="row" style="margin:10px;">

    <div class="list-group col-md-3" ng-repeat="project in projectDatas">
        <a ng-click="selectProject(project)" class="list-group-item ">
            <h4 class="list-group-item-heading">{{project.name}}</h4>
            <p class="list-group-item-text">Thành viên : {{project.member.length}}</p>
        </a>
    </div>

</div>
<ng-include src="'views/partials/create-project.html'"></ng-include>