<h4>
    <span class="pull-left">Danh sách dự án <button class="btn btn-primary">Tạo dự án</button></span>


    <div class="clearfix"></div>
</h4>

<div class="row" style="margin:10px;">

    <div class="list-group col-md-3" ng-repeat="project in projectDatas">
        <a ng-click="selectProject()" class="list-group-item ">
            <h4 class="list-group-item-heading">{{project.name}}</h4>
            <p class="list-group-item-text">Thành viên : {{project.member.length}}</p>
        </a>
    </div>

</div>