<h4>
    <span class="pull-left">Danh sách dự án <button class="btn btn-primary">Tạo dự án</button></span>


    <div class="clearfix"></div>
</h4>

<div class="row" style="margin:10px;">

    <div class="list-group col-md-3">
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Dự án nhà ở xã hội</h4>

            <p class="list-group-item-text">Thành viên : 12</p>

        </a>
    </div>

    <div class="list-group col-md-3">
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Dự án tây hồ tây</h4>

            <p class="list-group-item-text">Thành viên : 12</p>
        </a>
    </div>


    <div class="list-group col-md-3">
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Dự án green star</h4>
            <p class="list-group-item-text">Thành viên : 12</p>
        </a>
    </div>


    <div class="list-group col-md-3">
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Dự án nhà ở xã hội</h4>
            <p class="list-group-item-text">Thành viên : 12</p>
        </a>
    </div>

    <div class="list-group col-md-3">
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Dự án nhà ở xã hội</h4>
            <p class="list-group-item-text">Thành viên : 12</p>
        </a>
    </div>


    <div class="list-group col-md-3">
        <a href="#" class="list-group-item ">
            <h4 class="list-group-item-heading">Dự án nhà ở xã hội</h4>
            <p class="list-group-item-text">Thành viên : 12</p>
        </a>
    </div>
</div>