<div class="row">
    <div class="col-md-12">
        <h4>
            Danh sach du an
        </h4>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Ten du an</th>
                    <th>So thanh vien</th>
                    <th>Ngay khoi tao</th>
                    <th>Nguoi tao</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                    <td>Table cell</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

